*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: blue;
}

article {
	max-width: 1000px;
	max-height: 1126px;
	background-color: #f4f8fd;
	margin: 0 auto;
	border: 48px solid #ff7982;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	background-image: url('../NewFolder/d6fb2c1af906acc95accb60c43105b37.png');
	background-size:cover;
}
.up {
	max-width: 1000px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 0;
	height: 80px;
	background-color: #fff;
}
.nav-item1 {
	list-style-type: none;
	display: flex;
	width: 495px;
	height: 40px;
	gap: 5px;
	padding-inline-start: 25px;
}
.nav-item1 li {
	padding-inline-end: 16px;
}
.nav-item2 > i,
button {
	margin-inline-start: 20px;
}
.sign-up {
	width: 115px;
	height: 42px;
	margin-block: 41px;
	margin-inline-end: 25px;
	background: linear-gradient(90.09deg, #ff748d 0%, #ff8e4f 100%);
	border-radius: 50px;
}
.log-in {
	height: 24px;
	line-height: 24px;
	font-weight: 700;
	color: black;
	text-align: center;
	border: none;
	background-color: transparent;
	font-size: 14px;
}
.fa .fa-search {
	width: 26px;
	height: 26px;
}

.select {
	border: none;
}

.img-txt {
	max-width: 500px;
	height: 180px;
	margin: 0 auto;
	top: 150px;
	left: 0;
	right: 0;
	text-align: center;
	padding-block: 24px;
	background-color: #09183f80;
    border-radius: 8px;
}
.img-txt p {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
.img-txt h3 {
	font-size: 26px;
	line-height: 30px;
	font-weight: 700;
}
.btn {
	margin-block: 16px;
	height: 31px;
}

.down {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background-image: none;
	margin-block-start: 50px;
    padding: 0 50px;
}
.sec-two {
	text-align: center;
	max-width: 350px;
	margin: 0 auto;
    box-shadow: 1px 1px  #ffffff;
    background-color: #ffffff;
	
	
}
.sec-two h3 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
}
.sec-two p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
    padding-block-start: 8px;
}
.sec-two button {
	width: 150px;
	height: 30px;
    background: transparent;
}
.backgnd{
    height: 200px;
    background-size: contain;
}
.down1{
    background-image: url("../NewFolder/68c66a6a496d7f74c1d9f07c1b8047af.png");
}
.down2{
    background-image: url("../NewFolder/1a38c53cbf8dd5d502d15eba186e3409.png");

}
